<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>GIDS YIVI authenticator</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
          media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        #form-container {
            margin-top: 20px;
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        #set-attribute-section {
            text-align: left;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body class="light-blue lighten-5">
<div class="container">
    <div id="form-container">
        <section id="yivi-web-form"></section>

        <section th:if="${registerUrl != null}" id="set-attribute-section">
            <blockquote>
                Is dit attribuut nog niet toegevoegd aan jouw Yivi App?
            </blockquote>
            <a th:href="@{${registerUrl}}" target="_blank" class="btn waves-effect waves-light red lighten-1" type="submit">Voeg toe!
                <i class="material-icons right">open_in_new</i>
            </a>
        </section>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/yivi.js"></script>
<script type="text/javascript">
  $(document).ready(function () {

      const yiviWeb = yivi.newWeb({
          debugging: true,            // Enable to get helpful output in the browser console
          element:   '#yivi-web-form', // Which DOM element to render to

          // Back-end options
          session: {
              // Point this to your controller:
              url: '/api/session',

              start: {
                  url: o => `${o.url}/start`,
                  method: 'POST'
              },
              result: {
                  url: (o, {sessionPtr, sessionToken}) => `${o.url}/end/${sessionToken}`,
                  method: 'POST'
              }
          }
      });

      yiviWeb.start()
      .then(result => {
          if (result.url) {
              document.location = result.url
          } else {
              window.history.back();
          }
      })
      .catch(error => console.error("Couldn't do what you asked 😢", error));
  });
</script>

</body>
</html>
